In [30]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from collections import OrderedDict
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification
from sklearn.svm import SVC

In [31]:
data = pd.read_csv('https://raw.githubusercontent.com/MeAdila/test/main/transfusion.csv')

In [32]:
data = data.dropna()

In [33]:
data.head()

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,T3,TT4measured,TT4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured,referralsource,binaryClass
0,41.0,F,f,f,f,f,f,f,f,f,...,2.5,t,125.0,t,1.14,t,109.0,f,SVHC,P
4,70.0,F,f,f,f,f,f,f,f,f,...,1.2,t,61.0,t,0.87,t,70.0,f,SVI,P
7,80.0,F,f,f,f,f,f,f,f,f,...,0.6,t,80.0,t,0.70,t,115.0,f,SVI,P
8,66.0,F,f,f,f,f,f,f,f,f,...,2.2,t,123.0,t,0.93,t,132.0,f,SVI,P
9,68.0,M,f,f,f,f,f,f,f,f,...,1.6,t,83.0,t,0.89,t,93.0,f,SVI,P

In [46]:
data.shape

(2643, 29)

In [47]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
for x in data.columns:
    data[x]=enc.fit_transform(data[x])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2643 entries, 0 to 3771
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      2643 non-null   int64
 1   sex                      2643 non-null   int64
 2   onthyroxine              2643 non-null   int64
 3   queryonthyroxine         2643 non-null   int64
 4   onantithyroidmedication  2643 non-null   int64
 5   sick                     2643 non-null   int64
 6   pregnant                 2643 non-null   int64
 7   thyroidsurgery           2643 non-null   int64
 8   I131treatment            2643 non-null   int64
 9   queryhypothyroid         2643 non-null   int64
 10  queryhyperthyroid        2643 non-null   int64
 11  lithium                  2643 non-null   int64
 12  goitre                   2643 non-null   int64
 13  tumor                    2643 non-null   int64
 14  hypopituitary            2643 non-null   int64
 15  psych                    2643 non-null   int64
 16  TSHmeasured              2643 non-null   int64
 17  TSH                      2643 non-null   int64
 18  T3measured               2643 non-null   int64
 19  T3                       2643 non-null   int64
 20  TT4measured              2643 non-null   int64
 21  TT4                      2643 non-null   int64
 22  T4Umeasured              2643 non-null   int64
 23  T4U                      2643 non-null   int64
 24  FTImeasured              2643 non-null   int64
 25  FTI                      2643 non-null   int64
 26  TBGmeasured              2643 non-null   int64
 27  referralsource           2643 non-null   int64
 28  binaryClass              2643 non-null   int64
dtypes: int64(29)
memory usage: 619.5 KB

In [48]:
data.head()

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,T3,TT4measured,TT4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured,referralsource,binaryClass
0,37,0,0,0,0,0,0,0,0,0,...,26,0,116,0,69,0,59,0,1,1
4,66,0,0,0,0,0,0,0,0,0,...,12,0,52,0,41,0,21,0,3,1
7,76,0,0,0,0,0,0,0,0,0,...,6,0,71,0,24,0,66,0,3,1
8,62,0,0,0,0,0,0,0,0,0,...,23,0,114,0,47,0,82,0,3,1
9,64,1,0,0,0,0,0,0,0,0,...,17,0,74,0,43,0,43,0,3,1

In [49]:
data['age']=(data['age']-data['age'].min())/(data['age'].max()-data['age'].min())
data['TT4']=(data['TT4']-data['TT4'].min())/(data['TT4'].max()-data['TT4'].min())
data['T4U']=(data['T4U']-data['T4U'].min())/(data['T4U'].max()-data['T4U'].min())
data['FTI']=(data['FTI']-data['FTI'].min())/(data['FTI'].max()-data['FTI'].min())

In [50]:
data.head()

,age,sex,onthyroxine,queryonthyroxine,onantithyroidmedication,sick,pregnant,thyroidsurgery,I131treatment,queryhypothyroid,...,T3,TT4measured,TT4,T4Umeasured,T4U,FTImeasured,FTI,TBGmeasured,referralsource,binaryClass
0,0.406593,0,0,0,0,0,0,0,0,0,...,26,0,0.511013,0,0.492857,0,0.541284,0,1,1
4,0.725275,0,0,0,0,0,0,0,0,0,...,12,0,0.229075,0,0.292857,0,0.192661,0,3,1
7,0.835165,0,0,0,0,0,0,0,0,0,...,6,0,0.312775,0,0.171429,0,0.605505,0,3,1
8,0.681319,0,0,0,0,0,0,0,0,0,...,23,0,0.502203,0,0.335714,0,0.752294,0,3,1
9,0.703297,1,0,0,0,0,0,0,0,0,...,17,0,0.325991,0,0.307143,0,0.394495,0,3,1

In [51]:
Y=data['binaryClass']
X=data.drop(['binaryClass'],axis=1)

In [52]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.3,stratify=Y)

In [53]:
print(X.shape, X_train.shape, X_test.shape)

(2643, 28) (1850, 28) (793, 28)

In [55]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
    
GaussianNB(priors=None)
    
# Fitting Naive Bayes Classification to the Training set with linear kernel
nvklasifikasi = GaussianNB()
nvklasifikasi = nvklasifikasi.fit(X_train, Y_train)
    
# Predicting the Test set results
y_pred = nvklasifikasi.predict(X_test)
    
#lets see the actual and predicted value side by side
y_compare = np.vstack((Y_test,y_pred)).T
#actual value on the left side and predicted value on the right hand side
    
# Menentukan probabilitas hasil prediksi
nvklasifikasi.predict_proba(X_test)
akurasi = round(100 * accuracy_score(Y_test, y_pred))
print('Model accuracy score Naive Bayes: {0:0.2f}'. format(akurasi))

Model accuracy score Naive Bayes: 14.00

In [59]:
model = GaussianNB()
model.fit(X, Y)
model_pf = GaussianNB()
model_pf.partial_fit(X,Y, np.unique(Y))

GaussianNB()

In [67]:
no_index = 0

In [73]:
# try with value [0,	0,	0,	0,	0,	1,	1,	0.8,	0.9,	0]
result_test_naive_bayes = model_pf.predict([[0.4065934065934066,	0,	0,	0,	0,	0,	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 107,	0,	26,	0, 0.5110132158590308, 0, 0.4928571428571429, 0, 0.5412844036697247, 0, 1]])[no_index]
print(f"Customer : Budi Memiliki binaryClass {result_test_naive_bayes} Pada metode Gaussian Naive Bayes model")

if ([no_index] == 0):
    print('Pasien Negative Thyroid')
else :
    print('Pasien Positive terkena Thyroid')

Customer : Budi Memiliki binaryClass 0 Pada metode Gaussian Naive Bayes model
Pasien Positive terkena Thyroid

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [56]:
K=10
knn=KNeighborsClassifier(n_neighbors=K)
knn.fit(X_train,Y_train)
y_pred=knn.predict(X_test)
    
skor_akurasi = round(100 * accuracy_score(Y_test,y_pred))
print("Model accuracy score KNN : {0:0.2f}" . format(skor_akurasi))

Model accuracy score KNN : 95.00

In [72]:
# Custom value to predict
result_test_knn = knn.predict([[0.4065934065934066,	0,	0,	0,	0,	0,	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 107,	0,	26,	0, 0.5110132158590308, 0, 0.4928571428571429, 0, 0.5412844036697247, 0, 1]])
print(f"Customer : Budi Memiliki binaryClass {result_test_knn[no_index]} Pada metode KNN model")

if ([no_index] == 0):
    print('Pasien Negative Thyroid')
else :
    print('Pasien Positive terkena Thyroid')

Customer : Budi Memiliki binaryClass 0 Pada metode KNN model
Pasien Positive terkena Thyroid

In [57]:
dt = DecisionTreeClassifier()
dt.fit(X_train, Y_train)
# prediction
dt.score(X_test, Y_test)
y_pred = dt.predict(X_test)
    
#Accuracy
akurasi = round(100 * accuracy_score(Y_test,y_pred))
print('Model Accuracy Score Decision Tree : {0:0.2f}'.format(akurasi))

Model Accuracy Score Decision Tree : 100.00

In [71]:
# Custom value to predict
result_test_DecisionTree = dt.predict([[0.4065934065934066,	0,	0,	0,	0,	0,	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 107,	0,	26,	0, 0.5110132158590308, 0, 0.4928571428571429, 0, 0.5412844036697247, 0, 1]])
print(f"Customer : Budi Memiliki binaryClass {result_test_DecisionTree[no_index]} Pada metode Decision Tree model")

if ([no_index] == 0):
    print('Pasien Negative Thyroid')
else :
    print('Pasien Positive terkena Thyroid')

Customer : Budi Memiliki binaryClass 0 Pada metode Decision Tree model
Pasien Positive terkena Thyroid

In [74]:
import pickle

In [75]:
filename = 'thyroidmodel.sav'
pickle.dump(dt, open(filename,'wb'))