In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from collections import OrderedDict
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification
from sklearn.svm import SVC

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/MeAdila/test/main/transfusion.csv')

In [6]:
data = data.dropna()

In [7]:
data.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [8]:
data.shape

(748, 5)

In [9]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
for x in data.columns:
    data[x]=enc.fit_transform(data[x])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 35.1 KB

In [10]:
data.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,32,32,77,1
1,0,12,12,21,1
2,1,15,15,28,1
3,2,19,19,37,1
4,1,23,23,65,0

In [11]:
data.columns = ["bulanterkini", "frekuensi", "CCdarah",    "totalbulan", "donasidarah"]

In [12]:
data['bulanterkini']=(data['bulanterkini']-data['bulanterkini'].min())/(data['bulanterkini'].max()-data['bulanterkini'].min())
data['frekuensi']=(data['frekuensi']-data['frekuensi'].min())/(data['frekuensi'].max()-data['frekuensi'].min())
data['CCdarah']=(data['CCdarah']-data['CCdarah'].min())/(data['CCdarah'].max()-data['CCdarah'].min())
data['totalbulan']=(data['totalbulan']-data['totalbulan'].min())/(data['totalbulan'].max()-data['totalbulan'].min())

In [13]:
data.head()

   bulanterkini  frekuensi  CCdarah  totalbulan  donasidarah
0      0.066667    1.00000  1.00000    1.000000            1
1      0.000000    0.37500  0.37500    0.272727            1
2      0.033333    0.46875  0.46875    0.363636            1
3      0.066667    0.59375  0.59375    0.480519            1
4      0.033333    0.71875  0.71875    0.844156            0

In [14]:
Y=data['donasidarah']
X=data.drop(['donasidarah'],axis=1)

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.3,stratify=Y)

In [16]:
print(X.shape, X_train.shape, X_test.shape)

(748, 4) (523, 4) (225, 4)

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
    
GaussianNB(priors=None)
    
# Fitting Naive Bayes Classification to the Training set with linear kernel
nvklasifikasi = GaussianNB()
nvklasifikasi = nvklasifikasi.fit(X_train, Y_train)
    
# Predicting the Test set results
y_pred = nvklasifikasi.predict(X_test)
    
#lets see the actual and predicted value side by side
y_compare = np.vstack((Y_test,y_pred)).T
#actual value on the left side and predicted value on the right hand side
    
# Menentukan probabilitas hasil prediksi
nvklasifikasi.predict_proba(X_test)
akurasi = round(100 * accuracy_score(Y_test, y_pred))
print('Model accuracy score Naive Bayes: {0:0.2f}'. format(akurasi))

Model accuracy score Naive Bayes: 73.00

In [18]:
model = GaussianNB()
model.fit(X, Y)
model_pf = GaussianNB()
model_pf.partial_fit(X,Y, np.unique(Y))

GaussianNB()

In [19]:
no_index = 0

In [20]:
# try with value [0,	0,	0,	0,	0,	1,	1,	0.8,	0.9,	0]
result_test_naive_bayes = model_pf.predict([[0.066667,	1.00000,	1.00000,	1.000000]])[no_index]
print(f"Customer : Memiliki Donasi Darah {result_test_naive_bayes} Pada metode Gaussian Naive Bayes model")

if ([no_index] == 0):
    print('Pasien Belum Mendonorkan Darah')
else :
    print('Pasien Sudah Mendonorkan Darah')

Customer : Memiliki Donasi Darah 1 Pada metode Gaussian Naive Bayes model
Pasien Sudah Mendonorkan Darah

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [21]:
K=10
knn=KNeighborsClassifier(n_neighbors=K)
knn.fit(X_train,Y_train)
y_pred=knn.predict(X_test)
    
skor_akurasi = round(100 * accuracy_score(Y_test,y_pred))
print("Model accuracy score KNN : {0:0.2f}" . format(skor_akurasi))

Model accuracy score KNN : 75.00

In [22]:
# Custom value to predict
result_test_knn = knn.predict([[0.033333,	0.71875,	0.71875,	0.844156]])
print(f"Customer : Memiliki Donasi Darah {result_test_knn[no_index]} Pada metode KNN model")

if ([no_index] == 0):
    print('Pasien Belum Mendonorkan Darah')
else :
    print('Pasien Sudah Mendonorkan Darah')

Customer : Memiliki Donasi Darah 0 Pada metode KNN model
Pasien Sudah Mendonorkan Darah

In [23]:
dt = DecisionTreeClassifier()
dt.fit(X_train, Y_train)
# prediction
dt.score(X_test, Y_test)
y_pred = dt.predict(X_test)
    
#Accuracy
akurasi = round(100 * accuracy_score(Y_test,y_pred))
print('Model Accuracy Score Decision Tree : {0:0.2f}'.format(akurasi))

Model Accuracy Score Decision Tree : 72.00

In [24]:
# Custom value to predict
result_test_DecisionTree = dt.predict([[0.066667,	1.00000,	1.00000,	1.000000]])
print(f"Customer : Memiliki Donasi Darah {result_test_DecisionTree[no_index]} Pada metode Decision Tree model")

if ([no_index] == 0):
    print('Pasien Belum Mendonorkan Darah')
else :
    print('Pasien Sudah Mendonorkan Darah')

Customer : Memiliki Donasi Darah 0 Pada metode Decision Tree model
Pasien Sudah Mendonorkan Darah

In [25]:
import pickle

In [27]:
filename = 'bloodmodel.sav'
pickle.dump(dt, open(filename,'wb'))